@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*Colors*/
/*Grid*/
[class^="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

@media screen and (min-width: 544px) {
  .container {
    width: 544px;
  }

  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
}
@media screen and (min-width: 996px) {
  .container {
    width: 996px;
  }

  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .col-xl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  background: #ecf1f8;
}

header {
  height: 112px;
  background: #ffffff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
}

a {
  text-decoration: none;
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
}
.navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.page-content {
  padding-top: 72px;
}

.user-details {
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

.users-colums {
  padding: 0 32px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #3e3f58;
}

.edit {
  margin-top: 6px;
}
.edit a {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: #ed5267;
}

.users-info {
  display: flex;
  text-align: left;
  padding: 0 15px;
  flex-flow: column;
}
.users-info span {
  color: #3e3f58;
}

.panels {
  justify-content: center;
  width: 100%;
  display: flex;
}

.statistics {
  display: flex;
  flex-flow: column;
  padding: 20px;
  text-align: center;
}
.statistics .bold {
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #3e3f58;
}
.statistics span {
  color: #636363;
}

.about p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #3e3f58;
  text-align: left;
}

.control-panel {
  margin-bottom: 51px;
  font-weight: 600;
  color: #3e4056;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
}

.card {
  padding: 24px;
  margin: 12px 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background: #ffffff;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  min-height: 280px;
  max-height: 280px;
}

.main {
  padding-left: 20px;
}

.card-body {
  max-height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 150px;
}
.card-body p {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #3e4056;
  font-family: "Montserrat", sans-serif;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #b2b3bb;
}

.action {
  display: flex;
  align-items: center;
}
.action a {
  display: flex;
  align-items: center;
  color: #f05d63;
  margin-left: 10px;
}
.action .stat {
  color: #3e4056;
  font-weight: bold;
  line-height: 1;
}

.card-header {
  min-height: 30px;
  max-height: 30px;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}
.card-header a {
  color: #3e4056;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.card-footer .us-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer .us-name span {
  margin-left: 8px;
}

.shared {
  background-color: #ecf1f8;
  color: #3e4056;
  border-radius: 6px;
  padding: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
}

.card-header a {
  display: flex;
  align-items: center;
}

.switch {
  margin: 0 30px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ed5267;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ed5267;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.page-navigation {
  list-style: none outside none;
}
.page-navigation li {
  margin: 0 18px;
}
.page-navigation li:first-child {
  margin-left: 0px;
}
.page-navigation li a {
  transition: 0.5s;
  cursor: pointer;
  float: left;
  margin: 0;
  width: 100%;
  height: 42px;
  line-height: 26px;
  position: relative;
  text-align: center;
  color: #3e4056;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.page-navigation li a.active, .page-navigation li a:hover {
  opacity: 1;
}
.page-navigation li a:hover:after, .page-navigation li a.active:after {
  opacity: 1;
  height: 4px;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.clearfix {
  clear: both;
}

.user-menu-wrap {
  position: relative;
}
.user-menu-wrap a {
  color: black;
  display: flex;
  align-items: center;
}

.users {
  color: #3e3f58;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.mini-photo {
  margin-left: 10px;
  margin-right: 5px;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/user.svg);
}

.menu-container {
  visibility: hidden;
  opacity: 0;
}
.menu-container.active {
  visibility: visible;
  opacity: 1;
}

.user-menu {
  padding: 20px 0;
  top: 25px;
  z-index: 999;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 175px;
}
.user-menu .user-menu-link {
  display: flex;
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  padding: 12px 16px;
  cursor: pointer;
}
.user-menu .user-menu-link div {
  margin: auto 10px;
}
.user-menu .user-menu-link:hover {
  background: #ecf1f8;
  color: #333333;
}

.add-circle {
  display: flex;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.button-box {
  min-width: 64px;
}

.top-navbar {
  margin-top: 5px;
}

.navbar-brand {
  width: 50px;
  height: 22.47px;
}

.users-avatar img {
  width: 130px;
}

.users-avatar {
  display: block;
  width: 120px;
  height: 120px;
  min-width: 120px;
  background-image: url(../img/avatar.svg);
  background-size: cover;
}

.navbar-brand {
  display: block;
  width: 53px;
  height: 24px;
  background-image: url(../icons/logo.svg);
  background-size: cover;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
}
.icon-notifications {
  background-image: url(../icons/notifications.svg);
}
.icon-share-recap {
  background-image: url(../icons/share_recap.svg);
}
.icon-medium {
  background-image: url(../icons/medium.svg);
}
.icon-view {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(../icons/icon_view.svg);
}
.icon-like {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  height: 14px;
  background-image: url(../icons/icon_like.svg);
}
.icon-report {
  width: 16px;
  height: 16px;
  background-image: url(../icons/icon_report.svg);
}
.icon-block {
  width: 16px;
  height: 16px;
  background-image: url(../icons/icon_block.svg);
}
.icon-edit {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(../icons/edit_icon.svg);
}
.icon-dots {
  width: 16px;
  height: 16px;
  background-image: url(../icons/icon_3_dots_menu.svg);
}
.icon-plus {
  width: 16px;
  height: 16px;
  background-image: url(../icons/plus.svg);
}
.icon-copy {
  width: 16px;
  height: 16px;
  background-image: url(../icons/icon_copy.svg);
}
.icon-arrow {
  width: 16px;
  height: 16px;
  background-image: url(../icons/a_icon_arrow.svg);
}

/*MEDIA*/
@media screen and (max-width: 1200px) {
  .card {
    min-height: auto;
  }

  .card-body p {
    font-weight: normal;
    font-size: 26px;
    line-height: 44px;
  }
}
@media screen and (max-width: 996px) {
  .main {
    margin-top: 35px;
    padding-left: 0;
    padding: 0 32px;
  }

  .control-panel {
    justify-content: center;
    margin-bottom: 20px;
  }

  .about p {
    padding: 5px 25px;
  }
}
@media screen and (max-width: 768px) {
  .header-card {
    display: flex;
    justify-content: center;
  }

  header {
    height: auto;
  }

  .user-menu {
    right: 0px;
  }
}
@media screen and (max-width: 544px) {
  .head-menu {
    display: none;
  }
}
